@model IEnumerable<MyApp.Models.Auction>

<h2>Phiên đấu giá đang diễn ra</h2>

<table class="table">
    <thead>
        <tr>
            <th>Tiêu đề</th>
            <th>Mô tả</th>
            <th>Bắt đầu</th>
            <th>Kết thúc</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var auction in Model)
        {
            <tr style="cursor:pointer;" onclick="window.location.href='@Url.Action("Details", "Auction", new { id = auction.Id })'">

                <td>@auction.Name</td>
                <td>@auction.Description</td>
                <td>@auction.TimeStart.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@auction.TimeEnd.ToString("dd/MM/yyyy HH:mm")</td>
            </tr>
        }
    </tbody>
</table>